.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.blue {
  color: #61dafb;
}

.center {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address-search {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  z-index: 10;
}

.address-search input {
  padding: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 10rem;
  right: 0%;
  z-index: 10;
}

/* HOW DO I CENTER THIS? */
.signup {
  justify-content: center;
}

#right-nav {
  justify-content: flex-end;
}

.reviews-container { 
  padding-bottom: 3em;
}

.text-area {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
}

.review {
  padding-bottom: 3em;
  padding-top: 3em;
}

.review-user {
  justify-content: flex-end;
}

.favorites-container {
  padding-top: 3em;
}

.space-between {
  padding-bottom: 2em;
}