.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  color: grey;
  width: 100%;
  min-height: 2rem;
}

.icon-container {
  width: 200px;
}

.footer-icons span {
  margin: 1rem;
}

.footer-icon a {
  color: grey;
}

.blue {
  color: #61dafb;
}

.grey {
  color: grey;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-message {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-style: italic;
}

.contents-end {
  justify-content: flex-end;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.left-nav {
  justify-content: flex-start;
  width: 300px;
}

.right-nav {
  width: 300px;
}

#right-nav {
  justify-content: flex-end !important;
  padding-right: 30px;
}

.address-search {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  z-index: 10;
}

.address-search input {
  padding: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 9rem;
  right: 0%;
  z-index: 10;
  width: 50px;
  height: 50px;
}

.locate img {
  max-width: 100%;
  max-height: 100%;
}

.signup {
  justify-content: center;
  display: flex;
  /* margin: 0, 100; */
  align-items: flex-end;
}

.login-link a {
  color: grey;
}

.reviews-container { 
  padding-bottom: 3em;
}

.favorites-container {
  padding-top: 3em;
  text-align: left;
}

.text-area {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
}

.review {
  padding-bottom: 3em;
  padding-top: 3em;
}

.review-user {
  justify-content: flex-end;
}

.my-review-grid {
  width: 600px;
  margin-right: 50%;
  margin-left: 30%;
  padding-top: 5%;
}

.edit-review {
  padding-top: 3em;
}

.edit-btn {
  padding-top: 50%;
}


.space-between {
  padding-bottom: 2em;
}

#profile-gif {
  padding-top: 7rem;
}

#profile-gif img {
  max-width: 300px;
  height: auto;
}